<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-shop-products-detail">
		<div class="tx-moox-shop-product">
			Detail: {product.title} | {product.uid} | {product.mooxShopExtenderText}
		</div>
	</div>
</f:section>