{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Pi1" />

<f:section name="main">
	<f:debug>{_all}</f:debug>
	<div class="tx-moox-news-payment">
		<f:if condition="{partial}!=''">
			<f:then>
				<f:if condition="{partial}=='Info'">
					<div class="well well-sm well-buttons clearfix">
						<f:link.action action="list">
							<button class="btn btn-primary" type="button">												
								<span class="glyphicon glyphicon-arrow-left icon-button"></span>
								{f:translate(key: 'pi1.action_payment.back')}					
							</button>
						</f:link.action>
					</div>
				</f:if>

				<div class="panel panel-default">
					<f:if condition="{partial}=='Info'">
						<f:then>
							<v:variable.set name="headerTxt" value="Bezahlinformationen" />
						</f:then>
						<f:else>
							<v:variable.set name="headerTxt" value="Bezahlung über {payment.amount}" />
						</f:else>
					</f:if>
					<div class="panel-heading"><h3 class="panel-title">{headerTxt}</h3></div>
					<div class="panel-body">
						<v:media.exists file="{partialRootPath}Payment/{payment.config.extkeyUCC}/{partial}.html" >
							<f:render partial="Payment/{payment.config.extkeyUCC}/{partial}" arguments="{_all}" />	
							<v:variable.set name="localPartialFound" value="1" />
						</v:media.exists>
						<f:if condition="{localPartialFound}">
							<f:else>					
								<v:variable.set name="foreignPartialPath" value="EXT:{payment.config.extkey}/Resources/Private/Partials/{partial}.html" />
								<v:media.exists file="{foreignPartialPath}" >
									<v:render.template file="{foreignPartialPath}" variables="{_all}" />					
								</v:media.exists>
							</f:else>		
						</f:if>
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="well well-sm well-buttons clearfix">
					<f:link.action action="list">
						<button class="btn btn-primary" type="button">												
							<span class="glyphicon glyphicon-arrow-left icon-button"></span>
							{f:translate(key: 'pi1.action_payment.back')}					
						</button>
					</f:link.action>
				</div>
				<f:if condition="{paymentMethods}">
					<f:form class="form-vertical client-validation" action="{action}" controller="Pi1" noCache="1" method="POST" name="{action}" id="{action}Form" object="{payment}">
						<f:render partial="Payment/Payment" arguments="{_all}" />
						<div class="form-buttons form-buttons-bottom clearfix">								
							<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi1.action_payment.pay')}">		
								<span class="glyphicon glyphicon-euro icon-button"></span>
								{f:translate(key: 'pi1.action_payment.pay')}							
							</f:form.button>																	
						</div>
						<f:form.hidden name="item" value="{item.uid}" />
						<f:form.hidden name="check" value="1" />
					</f:form>							
				</f:if>
			</f:else>
		</f:if>								
	</div>
</f:section>