{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:for each="{fields}" as="field" iteration="iteration">	
	<v:switch value="{field.key}">
		<v:case case="summary" break="TRUE">
			<f:render partial="Table/Columns/Summary" arguments="{field:field,item:item}" />
		</v:case>		
		<v:case case="images" break="TRUE">
			<f:render partial="Table/Columns/Image" arguments="{field:field,item:item}" />
		</v:case>
		<v:case case="categories" break="TRUE">			
			<f:render partial="Table/Columns/Category" arguments="{field:field,item:item}" />
		</v:case>		
		<v:case case="default">	
			<v:switch value="{field.config.format}">
				<v:case case="date" break="TRUE">					
					<f:render partial="Table/Columns/Date" arguments="{field:field,item:item,format:'d.m.Y'}" />
				</v:case>
				<v:case case="datetime" break="TRUE">					
					<f:render partial="Table/Columns/Date" arguments="{field:field,item:item,format:'d.m.Y H:i'}" />
				</v:case>
				<v:case case="selected" break="TRUE">										
					<f:render partial="Table/Columns/Selected" arguments="{field:field,item:item}" />
				</v:case>
				<v:case case="default">					
					<f:render partial="Table/Columns/Text" arguments="{field:field,item:item}" />
				</v:case>
			</v:switch>	
		</v:case>
	</v:switch>			
</f:for>