{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{edit}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_edit.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_edit')}" />
	</f:if>
	<f:link.action action="edit" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<span class="glyphicon glyphicon-pencil list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>
<f:if condition="{detail}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_detail.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_detail')}" />
	</f:if>
	<f:link.action action="detail" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<span class="glyphicon glyphicon-search list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>
<f:if condition="{visibility}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_visibility.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_visibility')}" />
	</f:if>
	<f:link.action action="visibility" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<f:if condition="{item.hidden}">
			<f:then>
				<span class="glyphicon glyphicon-eye-close  list-icon" aria-hidden="true"></span>		
			</f:then>
			<f:else>
				<span class="glyphicon glyphicon-eye-open  list-icon" aria-hidden="true"></span>
			</f:else>
		</f:if>											
	</f:link.action>
</f:if>
<f:if condition="{privacy}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_privacy.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_privacy')}" />
	</f:if>
	<f:link.action action="privacy" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<f:if condition="{item.privacy}">
			<f:then>
				<span class="fa fa-lock"></span>		
			</f:then>
			<f:else>
				<span class="fa fa-globe"></span>
			</f:else>
		</f:if>											
	</f:link.action>
</f:if>
<f:if condition="{delete}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_delete.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_delete')}" />
	</f:if>
	<f:link.action action="delete" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}" onclick="return window.confirm('Wollen Sie Ihre Anzeige wirklich unwiderruflich löschen?')">
		<span class="glyphicon glyphicon-remove list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>