{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxNewsFrontend\ViewHelpers}
<div class="well well-sm well-buttons clearfix">
	<f:if condition="{returnUrl}==''">
		<v:variable.set name="returnUrl" value="{f:uri.action(action:'list')}" />
	</f:if>
	<a href="{returnUrl}" title="{f:translate(key: 'pi1.action_detail.back')}">
		<button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-arrow-left icon-button"></span>
			{f:translate(key: 'pi2.action_detail.back')}			
		</button>
	</a>
</div>
<div class="well well-detail center-block">
	<f:render partial="Pi2/Detail/Fields" arguments="{fields:fields,item:item}" />
	<f:if condition="{showPrivate}">		
		<f:render partial="Pi2/Detail/Fields" arguments="{fields:privateFields,item:item}" />
	</f:if>
</div>