{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:for each="{fields}" as="field" iteration="iteration">	
	<v:switch value="{field.key}">
		<v:case case="images" break="TRUE">
			<f:render partial="Detail/Images" arguments="{field:field,item:item}" />
		</v:case>
		<v:case case="categories" break="TRUE">					
			<f:render partial="Detail/Categories" arguments="{field:field,item:item}" />
		</v:case>		
		<v:case case="fe_crgroup" break="TRUE">					
			<f:render partial="Detail/FeGroup" arguments="{field:field,item:item}" />
		</v:case>
		<v:case case="default">	
			<v:switch value="{field.config.format}">
				<v:case case="date" break="TRUE">					
					<f:render partial="Detail/Date" arguments="{field:field,item:item,format:'d.m.Y'}" />
				</v:case>
				<v:case case="datetime" break="TRUE">					
					<f:render partial="Detail/Date" arguments="{field:field,item:item,format:'d.m.Y H:i'}" />
				</v:case>
				<v:case case="checked" break="TRUE">											
					<f:render partial="Detail/Checked" arguments="{field:field,item:item}" />
				</v:case>
				<v:case case="selected" break="TRUE">											
					<f:render partial="Detail/Selected" arguments="{field:field,item:item}" />
				</v:case>
				<v:case case="file" break="TRUE">
					<v:switch value="{field.config.reference-type}">
						<v:case case="image" break="TRUE">					
							<f:render partial="Detail/Images" arguments="{field:field,item:item}" />
						</v:case>
						<v:case case="file" break="TRUE">					
							<f:render partial="Detail/Files" arguments="{field:field,item:item}" />
						</v:case>
					</v:switch>
				</v:case>
				<v:case case="default">
					<f:render partial="Detail/Text" arguments="{field:field,item:item}" />
				</v:case>
			</v:switch>	
		</v:case>
	</v:switch>			
</f:for>