{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Pi2 -->		
<f:if condition="{settings.cssfiles.pi2}">
	<f:then>
		<v:asset.style name="moox-news-frontend-pi2-css" group="moox-news-frontend" path="{settings.cssfiles.pi2}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-news-frontend-pi2-css" group="moox-news-frontend" path="{f:uri.resource(path:'Css/pi2.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-news-frontend-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-news-frontend" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi2 -->
<v:asset.script name="moox-news-frontend-pi2-js" path="{f:uri.resource(path:'JavaScript/pi2.js')}" dependencies="jquery" group="moox-news-frontend" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<div class="tx-moox-news-frontend tx-moox-news-frontend-pi2" id="{v:system.uniqId(prefix: 'tx-moox-news-frontend-')}">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>