{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxNewsFrontend\ViewHelpers}
<v:variable.set name="images" value="{m:getValue(item:item,field:field.key)}" />				
<v:variable.set name="image" value="{v:iterator.first(haystack:images)}" />
<td headers="{field.key}">
	<f:if condition="{image}">
		<v:media.image src="{image.uid}" alt="{image.title}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="100c" height="100c" />	
	</f:if>	
</td>