{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxNewsFrontend\ViewHelpers}
<v:variable.set name="value" value="{m:getValue(item:item,field:field.key)}" />				
<td headers="{field.key}">
	<v:variable.get name="field.config.items.{value}" />				
</td>