{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:form.hidden property="payment" />
<v:variable.set name="error" value="{v:variable.get(name: 'errors.payment')}" />
<div class="panel {f:if(condition:error,then:'panel-danger', else:'panel-default')}">
	<div class="panel-heading"><strong>{f:translate(key: 'pi1.action_add.payment')}</strong></div>
	<div class="panel-body">
		<f:if condition="{paymentMethods.moox_payment_voucher}">
			<f:render partial="Payment/Voucher/Voucher" arguments="{_all}" />
		</f:if>
	</div>
</div>
