<f:if condition="{start}">
	<div class="panel panel-default panel-{group}">
		<div class="panel-heading">
			<h3 class="panel-title">{label}</h3>
		</div>
		<div class="panel-body">
</f:if>
<f:if condition="{end}">
		</div>
	</div>
</f:if>
	