{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')} has-feedback has-clear">
	<f:if condition="{config.extkeyUCC}!=''">
		<f:then>			
			<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: label)}" />
		</f:else>
	</f:if>
	<f:if condition="{config.required}">		
		<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
		<v:variable.set name="class" value=" required" />
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value=" validate" />
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<label class="control-label" for="{field}">{label}</label>
	</f:if>
	</f:if>
	<f:form.textfield type="{config.type}" additionalAttributes="{config.data}" property="{field}" placeholder="{label}" class="form-control{validate-class}" />
	<span class="clearer glyphicon glyphicon-remove form-control-feedback form-control-clear" aria-hidden="true"></span>	
</div>
<f:if condition="{repeat}">
	<div class="form-group{f:if(condition:error_repeat,then:' has-error')} has-feedback has-clear">
		<v:variable.set name="label_repeat" value="{label}_repeat" />
		<v:variable.set name="label_repeat" value="{f:translate(key: label_repeat)}" />
		<f:if condition="{config.required}">		
			<v:variable.set name="label_repeat" value="{label_repeat} *{f:translate(key: 'form.required')}" />
		</f:if>
		<f:if condition="{showLabel}">
		<f:if condition="{label_repeat}!=''">
			<label class="control-label" for="{field}">{label_repeat}</label>
		</f:if>
		</f:if>
		<f:form.textfield type="{config.type}" additionalAttributes="{config.data}" property="{field}_repeat" placeholder="{label_repeat}" class="form-control" />		
		<span class="clearer glyphicon glyphicon-remove form-control-feedback form-control-clear" aria-hidden="true"></span>	
	</div>
</f:if>