{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{config.validate}">		
	<v:variable.set name="validate-class" value="validate" />
</f:if>
<f:if condition="{config.items -> f:count()}>1">
	<f:then>
		<div class="form-group{f:if(condition:error,then:' has-error')}">
			<f:if condition="{config.extkeyUCC}!=''">
				<f:then>			
					<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
				</f:then>
				<f:else>
					<v:variable.set name="label" value="{f:translate(key: label)}" />
				</f:else>
			</f:if>	
			<f:if condition="{config.required}">		
				<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
				<v:variable.set name="class" value=" required" />
			</f:if>			
			<f:if condition="{showLabel}">
			<f:if condition="{label}!=''">
				<label class="control-label" for="{field.key}"{f:if(condition:inline,then:' style="margin-right: 15px"')}>{label}</label>
			</f:if>
			</f:if>				
			<f:for each="{config.items}" key="radio-value" as="radio-label" iteration="iteration">
				<v:variable.set name="checked" value="0" />
				<f:if condition="{value}==''">
					<f:then>			
						<f:if condition="{iteration.isFirst}">
							<v:variable.set name="checked" value="1" />						
						</f:if>		
					</f:then>
					<f:else>
						<f:if condition="{radio-value}=={value}">
							<v:variable.set name="checked" value="1" />						
						</f:if>
					</f:else>			
				</f:if>	
				<div class="radio{f:if(condition:inline,then:'-inline')}">
					<label>					
						<f:form.radio property="{field}" additionalAttributes="{config.data}" value="{radio-value}" checked="{checked}" class="{validate-class}" />				
						{radio-label}
					</label>
				</div>
			</f:for>		
		</div>
	</f:then>
	<f:else>
		<f:if condition="{config.items -> f:count()}==1">
			<f:for each="{config.items}" as="item" key="value" iteration="iteration">
				<f:form.hidden additionalAttributes="{config.data}" property="{field}" value="{value}" class="{validate-class}" />
			</f:for>
		</f:if>	
	</f:else>
</f:if>