.tx-moox-news-frontend-pi2 {
	
}

.tx-moox-news-frontend-pi2 .icon-list, .tx-moox-news-frontend-pi2 .icon-button, .tx-moox-news-frontend-pi2 .typo3-messages .icon-alert {
	margin-right: 5px;
}

.tx-moox-news-frontend-pi2 .pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tx-moox-news-frontend-pi2 .typo3-messages {
	padding-bottom: 13px;
}

.tx-moox-news-frontend-pi2 .typo3-messages .typo3-message {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-ok {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-notice {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-header {
	float: left;
	font-weight: bold;
	margin-right: 5px;
}

.tx-moox-news-frontend-pi2 .typo3-messages .message-body {

}