{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>{f:translate(key: 'pi1.action_add')}</h3>
	</div>
	<div class="panel-body">		
		<f:for each="{fields}" as="field" iteration="iteration">
			<v:variable.set name="error" value="{v:variable.get(name: 'errors.{field.key}')}" />
			<v:variable.set name="error_repeat" value="{v:variable.get(name: 'errors.{field.key}_repeat')}" />
			<f:if condition="{field.is-group-start}">
				<f:render partial="Form/Fields/Group" arguments="{start: 1, group: field.group, label: field.label-group}" />
			</f:if>				
			<v:switch value="{field.key}">
				<v:case case="categories" break="TRUE">					
					<f:render partial="Form/Fields/Tree" arguments="{field: field.key, label: field.label, action:action, config: field.config, showLabel: 1, multiple: 1, cascade: 1, values: add.categories, type: add.type, error:error}" />
				</v:case>
				<v:case case="images" break="TRUE">
					<f:render partial="Form/Fields/File" arguments="{field: field.key, label: field.label, action:action, files: add.images_tmp, config: field.config, showLabel: 1, error:error}" />
				</v:case>	
				<v:case case="files" break="TRUE">
					<f:render partial="Form/Fields/File" arguments="{field: field.key, label: field.label, action:action, files: add.files_tmp, config: field.config, showLabel: 1, error:error}" />
				</v:case>
				<v:case case="hidden_tmp"  break="TRUE">					
					<f:render partial="Form/Fields/Check" arguments="{field: field.key, label: field.label, config: field.config, error:error}" />
				</v:case>
				<v:case case="hidden" break="TRUE">					
					<f:render partial="Form/Fields/Select" arguments="{field: field.key, label: field.config.label-select, config: field.config, showLabel: 1, error:error}" />
				</v:case>
				<v:case case="default">					
					<v:switch value="{field.config.type}">
						<v:case case="file" break="TRUE">					
							<v:variable.set name="files_tmp" value="{v:variable.get(name: 'add.{field.key}_tmp')}" />
							<f:render partial="Form/Fields/File" arguments="{field: field.key, label: field.label, action:action, files: files_tmp, config: field.config, showLabel: 1, multiple:1, error:error}" />
						</v:case>
						<v:case case="select" break="TRUE">
							<f:render partial="Form/Fields/Select" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, error:error}" />
						</v:case>
						<v:case case="radio" break="TRUE">
							<v:variable.set name="value" value="{v:variable.get(name: 'add.{field.key}')}" />
							<f:render partial="Form/Fields/Radio" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, inline: 0, value: value, error:error}" />
						</v:case>
						<v:case case="check" break="TRUE">
							<v:variable.set name="value" value="{v:variable.get(name: 'add.{field.key}')}" />
							<f:render partial="Form/Fields/Check" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, inline: 0, value: value, error:error}" />
						</v:case>
						<v:case case="textarea" break="TRUE">
							<f:render partial="Form/Fields/Textarea" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, error:error}" />
						</v:case>
						<v:case case="editor" break="TRUE">
							<f:render partial="Form/Fields/Editor" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, error:error}" />
						</v:case>
						<v:case case="date" break="TRUE">
							<f:render partial="Form/Fields/Date" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, error:error}" />
						</v:case>
						<v:case case="datetime" break="TRUE">
							<f:render partial="Form/Fields/Datetime" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, error:error}" />
						</v:case>
						<v:case case="header" break="TRUE">
							<f:render partial="Form/Fields/Header" arguments="{field: field.key, label: field.label, config: field.config}" />
						</v:case>
						<v:case case="default">	
							<f:render partial="Form/Fields/Input" arguments="{field: field.key, label: field.label, config: field.config, showLabel: 1, repeat: field.config.repeat, error:error, error_repeat:error_repeat}" />
						</v:case>
					</v:switch>
				</v:case>
			</v:switch>
			<f:render partial="Form/Fields/Description" arguments="{field: field.key, label: field.label, config: field.config}" />	
			<f:if condition="{field.is-group-end}">
				<f:render partial="Form/Fields/Group" arguments="{end: 1, group: field.group, label: field.label-group}" />
			</f:if>
		</f:for>
		<f:if condition="{paymentMethods}">
			<f:render partial="Payment/Payment" arguments="{_all}" />
		</f:if>		
	</div>
</div>

