{namespace news=DCNGmbH\MooxNewsFrontend\ViewHelpers}

<f:layout name="Pi2" />

<f:section name="main">	
	<div class="tx-moox-news-frontend-error">					
		<div class="well well-error center-block">
			<h2>Error</h2>
		</div>
	</div>
</f:section>