{namespace news=DCNGmbH\MooxNewsFrontend\ViewHelpers}

<f:layout name="Pi2" />

<f:section name="main">	
	<div class="tx-moox-news-frontend-list">					
		<f:render partial="Pi2/List/Body" arguments="{_all}" />		
	</div>
</f:section>